<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login">
            Go login
        </a>
    </li>
    <li>
        <a routerLink="/auth/register">
            Go register
        </a>
    </li>
    <li>
        <a routerLink="/heroes/list">
            Go heroes list
        </a>
    </li>
    <li>
        <a routerLink="/heroes/add">
            Go heroes add
        </a>
    </li>
    <li>
        <a routerLink="/heroes/edit">
            Go heroes edit
        </a>
    </li>
    <li>
        <a routerLink="/heroes/search">
            Go heroes search
        </a>
    </li>
    <li>
        <a routerLink="/heroes/:id">
            Go heroe
        </a>
    </li>
</ul>
